name: pinact
on:
  pull_request:
    # reference: https://github.com/suzuki-shunsuke/pinact?tab=readme-ov-file#how-to-use
    paths:
      - '.github/workflows/*.yml'
      - '.github/workflows/*.yaml'
      - 'action.yml'
      - 'action.yaml'
      - '*/action.yml'
      - '*/action.yaml'
      - '*/*/action.yml'
      - '*/*/action.yaml'
      - '*/*/*/action.yml'
      - '*/*/*/action.yaml'
jobs:
  pinact:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: pinact-action
        uses: suzuki-shunsuke/pinact-action@49cbd6acd0dbab6a6be2585d1dbdaa43b4410133 # v1.0.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}        
        with:
          app_id: ${{secrets.PINACT_ACTION_APP_ID}}
          app_private_key: ${{secrets.PINACT_ACTION_PRIVATE_KEY}}
